{% block extrahead %}
      <script>
	$(function() {
		$("#showhidesearch").hide();

		$( "#id_start" ).datepicker({ dateFormat: 'dd/mm/yy' , maxDate: '+0d', changeMonth: true, changeYear: true }).datepicker('setDate',new Date()).datepicker( $.datepicker.regional[ "el" ] );
		
		$( "#id_end" ).datepicker({ dateFormat: 'dd/mm/yy', maxDate: '+0d', changeMonth: true, changeYear: true }).datepicker('setDate',new Date()).datepicker( $.datepicker.regional[ "el" ] );
		document.title = 'Αναζήτηση Δαπανών-Πληρωμών';
		
	});
	</script>
		<script>
	$(function(){
		 $('#showhidesearch').click(function(){
			 $('#getcosts').show();
			 $('#showhidesearch').hide();
		 });
	 $("#projectcosts").click(function() {
		 	$("#throbbler").show();
            var str = $("#getcosts").serialize();
            $.ajax({
                type: "POST",
                url: "{% url atl.costs.views.results %}",
                data: str,
                success: function(data){                	
                	$("#throbbler").hide();
                	$('#getcosts').hide();
                	$('#showhidesearch').show();
                    $('#form_results_content').html(data);
                        }
        });
    return false;
        });
           
    });


	
	</script>
  {{tripsform.media}}

{% endblock %}
{% block webcontent %}
<div id="search_form_content">
<input style="width: 120px;" class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-all" name="showhidesearch" id="showhidesearch" type="submit" value="Νέα Αναζήτηση">

<form name="getcosts" id="getcosts" method="post">
<div id="search_form_wrapper">
	   	{{ costsform.as_p }}
	   	<input type="hidden" name="costs" id="costs" value="costs" />
		<p class="submit">
		
			<input style="width: 100px;" class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-all" name="projectcosts" id="projectcosts" type="submit" value="Αναζήτηση">
		</p>
</div>
</form>
</div>
<div id="form_results_content"></div>
{% endblock %}